.about-section {
  text-align: left;
}

.about-section h2 {
  font-size: 1.8rem;
  color: #bb86fc;
}

.about-section p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1rem;
}

.about-section h3 {
  color: #9d70d4;
  margin-top: 15px;
  font-size: 1.3rem;
}

/* Larger screens */
@media (min-width: 768px) {
  .about-section {
    text-align: center;
  }

  .about-section h2 {
    font-size: 2.2rem;
  }

  .about-section h3 {
    font-size: 1.5rem;
  }

  .about-section p {
    font-size: 1.1rem;
  }
}
